#
# Copyright (C) 2022-2026 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on post-fs-data
    # ADSP ramdump
    mkdir /data/vendor/mmdump 0777 system system
    chmod 0777 /data/vendor/mmdump
    mkdir /data/vendor/mmdump/adsp 0777 system system
    chmod 0777 /data/vendor/mmdump/adsp

    # ViPER4Android AIDL shared-memory channel
    mkdir /data/vendor/audiox 0777 audioserver audio
    exec u:r:vendor_init:s0 -- /vendor/bin/sh /vendor/bin/init.v4a.sh

    # Audio HAL feedback
    chown media media /proc/mm_fb

on property:ro.boot.prjname=*
    # Display
    setprop ro.separate.soft ${ro.boot.prjname}

on property:ro.boot.serialno=*
    # Radio
    setprop ro.vendor.oplus.radio.serialno ${ro.boot.serialno}

on property:sys.boot_completed=1
    # Widevine
    copy /vendor/etc/oplus_Widevine_licenses.pfm /mnt/vendor/persist/data/pfm/licenses/oplus_Widevine_licenses.pfm
    chmod 0600 /mnt/vendor/persist/data/pfm/licenses/oplus_Widevine_licenses.pfm
    chown system system /mnt/vendor/persist/data/pfm/licenses/oplus_Widevine_licenses.pfm
